.tag {
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--main-bg-color);
    color: var(--bg-color-text);
  }

@media (max-width:728px) {
    .tag {
        margin-right: 10px;
        padding: 10px 10px;
        border-radius: 15px;
    }
}