body {
  margin: 40px 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: black;
  --main-bg-color: #FF6060;
  --bg-color: #F6F6F6;
  --bg-color-text: white;
  font-family: montserrat;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-VariableFont_wght"),
    url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 726px) {
  body {
      margin: 20px;
  }
}