.logements-liste {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    -moz-column-gap: 5%;
         column-gap: 5%;
    row-gap: 50px;
    padding: 50px 55px;
    border-radius: 25px;
    background-color: var(--bg-color);
    margin-top: 30px;
}

@media (max-width: 728px) {
     .logements-liste {
          display: flex;
          flex-direction: column;
          padding: 0;
     }
}